body {
  padding-top: 2em;
  padding-bottom: 2em;
}

.jumbotron {
  text-align: center;
  margin-bottom: 0px;
  /*position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;*/
}

.hero {
  font-family: "Helvetica Neue";
}

#map {
  height: 50vh;
}
